.row
  %b Title:
  = @course.title
  %b Made by:
  = @course.user.handle
  %b Duration:
  = @course.duration
%div
  #presentation
    %div{"aria-role" => "navigation"}
      %a.deck-prev-link{href: "#", title: "Previous"} ←
      %a.deck-next-link{href: "#", title: "Next"} →
    %form.goto-form{action: ".", method: "get"}
      %label{for: "goto-slide"} Go to slide:
      %input#goto-slide{list: "goto-datalist", name: "slidenum", type: "text"}/
      %datalist#goto-datalist
      %input{type: "submit", value: "Go"}/
    %p.deck-status{"aria-role" => "status"}
      %span.deck-status-current
      \/
      %span.deck-status-total
    = render file: @slides_path
.row
  = render 'video_broadcast'

:javascript
  window.onload = function() {
    $.deck('.slide');
  };

