%p#notice= notice

%p
  %b Title:
  = @course.title
%p
  %b Description:
  = @course.description
%p
  %b User:
  = @course.user_id
%p
  %b Language:
  = @course.language
%p
  %b Prerequisites:
  = @course.prerequisites
%p
  %b Duration:
  = @course.duration

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
