%p#notice= notice

%p
  %b Title:
  = @course.title
%p
  %b Description:
  = @course.description
%p
  %b Made by:
  = @course.user.name
%p
  %b Language:
  = @course.language
%p
  %b Prerequisites:
  = @course.prerequisites
%p
  %b Duration:
  = @course.duration

.row
  = link_to 'Edit', edit_course_path(@course), class: "button"
  = link_to 'Run', course_start_path(@course), class: "button"
  = link_to 'Back', courses_path, class: "button"

