!!!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Discite"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    = render 'shared/nav_bar'
    %section.main
      .row
        .small-12.large-12.columns
          - if notice
            .alert-box.notice
              = notice
              %a.close{href: "#"} ×
          - if alert
            .alert-box.alert
              =alert
              %a.close{href: "#"} ×
          = yield
      = render 'shared/footer'
    = javascript_include_tag "application"

